*,body{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.background{
	height: 100vh;
	 background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.6)), url('./flower-background-vector.jpg') center;
  background-size: cover;
	padding: 50px 30px ;
}

.input{
	width: 50%;
	height:80px;
	font-size: 24px;
	padding-left: 15px;
	border: 3px solid brown;
	border-radius: 40px;
	display:flex;
	margin: 0 auto;
}
.user-cards{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
gap: 10px;
margin-top: 20px;
}

.card{
	border: 1px solid brown;
	background-color: aquamarine;
	padding: 5px;
	border-radius: 5px;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card:hover{
	background-color: rgb(181, 219, 252);
}
.body{
	margin-top: 10px;
}

.hide{
	display: none;
}